body {
    font-family: Arial, sans-serif;
    background-color: #e6f7ff; /* Light blue background color */
    margin: 0;
    padding: 0;
}

header {
    background-color: #0078d4;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Display three movies per row */
    gap: 20px;
}
#showSavedMoviesButton { 
    width: 80%;
    font-size: 35px;
    text-emphasis:30px ;
    background-color: aquamarine;
    border-radius: 10px;

}

/* Style for movie cards */
.movie-card {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: white;
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #0078d4;
    color: white;
}
