/* css file */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: aquamarine;
}

img {
    max-width: 200px;
    border-radius: 150px;
}

body p {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
